//定义变量
$myHeaderColor:#D73B3B;
$myBorderColor: grey;
$myBodyColor:#ccc;
$myFontGrey: #F5F5F5;
$myYellow:#F7CE4D;

//通配符
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Apple Braille", "STHeiti","Helvetica",sans-serif;
  font-size: 16px;
  background-color: $myFontGrey;
  height: 100%;
}
input{
  display: none;
  outline-style: none;
}
a{
  text-decoration: none;
}
button{
  outline-style: none;
}




//---------------主页------------------
//<!--红色背景-->
header{
  width: 100%;
  height: 1.55rem;
  background-color: $myHeaderColor;
  position: fixed;
  z-index: 8;
}
.support{
  content: "";
  width: 100%;
  height: 1.55rem;
}
a{
  color: black;
}
//<!--地址选择器-->
.address{
  display: block;
  color: white;
  font-size: .5rem;
  text-align: center;
  line-height: 1.7rem;
  width: 2.2rem;
  height: 1.55rem;
  top:0;
  left: 0;
  z-index: 9;
  position: fixed;
}
#address:checked ~.address-list{
  display: block;
}
#address:checked ~.address i{
  transform: rotate(-90deg);
}
.address-list{
  top: 1.55rem;
  left: 0;
  background-color: white;
  width: 100%;
  height: 10rem;
  overflow: scroll;
  display: none;
  color: #808080;
  z-index: 10;
  font-size: .3rem;
  position: fixed;
  .city{
    display: flex;
    width: 100%;
    height: .8rem;
    box-sizing: border-box;
    border-bottom: .01rem solid $myBorderColor;
    padding-left: .2rem;
    padding-right: .3rem;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    span{
      display: block;
      height: .8rem;
      line-height: .8rem;
    }
    i{
      display: block;
      height: .8rem;
      line-height: .8rem;
    }
  }
  ul{
    width: 100%;
    display: none;
    background-color: white;
    li{
      width: 100%;
      padding-left: .2rem;
      height: .8rem;
      box-sizing: border-box;
      border-bottom: .01rem solid $myBorderColor;
      line-height: .8rem;
      background-color: white;
    }
  }
  #hotCity:checked ~.hotCity i{
    transform: rotate(-90deg);
  }
  #hotCity:checked ~.hotCityul{
    display: block;
  }
  #aCity:checked ~.aCity i{
    transform: rotate(-90deg);
  }
  #aCity:checked ~.aCityul{
    display: block;
  }
  #bCity:checked ~.bCity i{
    transform: rotate(-90deg);
  }
  #bCity:checked ~.bCityul{
    display: block;
  }
  #cCity:checked ~.cCity i{
    transform: rotate(-90deg);
  }
  #cCity:checked ~.cCityul{
    display: block;
  }
}
//<!--主页菜单-->
.menu-bcg{
  background-color: #B81B20;
  position: absolute;
  width: 5.85rem;
  height: 1rem;
  left: 2.5rem;
  top:0.275rem;
  border-radius: .1rem;
  position: fixed;
  z-index: 9;
}
.menu{
  width: 1.95rem;
  height: 1rem;
  background-color: transparent;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 1.1rem;
  font-size: .4rem;
  position: fixed;
  z-index: 9;
}
.menu1{
  left: 2.5rem;
  top:0.275rem;
}
.menu2{
  left: 4.45rem;
  top:0.275rem;
}
.menu3{
  left: 6.4rem;
  top:0.275rem;
}
#hot:checked ~.menu1{
  background-color: white;
  color: $myHeaderColor;
  border-radius: .1rem;
}
#coming:checked ~.menu2{
  background-color: white;
  color: $myHeaderColor;
  border-radius: .1rem;
}
#search:checked ~.menu3{
  background-color: white;
  color: $myHeaderColor;
  border-radius: .1rem;
}
#search:checked ~.search-form{
  display: block;
}
#search:checked ~.body-coming{
  display: none;
}
#search:checked ~.body-hot{
  display: none;
}
#hot:checked ~.body-coming{
  display: none;
}
#coming:checked ~.body-hot{
  display: none;
}
//<!--搜索-->
.search-form{
  width: 100%;
  height: 1.35rem;
  display: none;
  background-color: $myHeaderColor;
  padding: .25rem 0;
  position: fixed;
  top:1.54rem;
  z-index: 9;
  .search-form_i{
    display: block;
    color: #808080;
    font-size: .3rem;
    position: absolute;
    top:.55rem;
    left:3.3rem;
  }
  .search-list{
    -webkit-appearance: none;
    display: block;
    width: 10rem;
    height: .85rem;
    background-color: white;
    border:.01rem solid #ccc;
    border-radius: .1rem;
    margin:auto;
    color: #808080;
    padding-left: 3.35rem;
    padding-right: .2rem;
    outline-style:none;
    font-size: .3rem;
  }
}
.search{
  display: block;
  width: 1.55rem;
  height: 1.55rem;
  position: absolute;
  right: 0;
  top: 0;
  font-size: .6rem;
  color: white;
  text-align: center;
  line-height: 1.7rem;
  position: fixed;
  z-index: 9;
}
#search2:checked ~.search-form{
  display: block;
}
#search2:checked ~.search i{
  color: $myBorderColor;
}
//<!--待映-->
.body-coming{
    overflow: scroll;
    >li:nth-child(odd){
      width: 100%;
      height: .75rem;
      line-height: .8rem;
      color: black;
      font-size: .35rem;
    }
    .tuijian-body{
      box-sizing: border-box;
      width: 100%;
      height: 3.4rem;
      background-color: white;
      padding: .4rem 0;
      overflow: scroll;
      >ul{
        height: 2.6rem;
        display: flex;
        >li{
          width: 4.6rem;
          height: 2.6rem;
          margin-left: .4rem;
          img{
            width: 4.6rem;
            height: 2.6rem;
          }
        }
      }
    }
    .qidai-body{
      width: 100%;
      height: 6rem;
      background-color: white;
      padding: .3rem 0;
      box-sizing: border-box;
      overflow: scroll;
      >ul{
        height: 5.4rem;
        display: flex;
        >li{
          height: 5.4rem;
          width: 2.6rem;
          margin-left: .4rem;
          position: relative;
          p{
            font-size: .4rem;
            height: .65rem;
            display: flex;
            flex-wrap: nowrap;
            overflow: hidden;
            align-items: center;
          }
          span{
            display: block;
            font-size: .34rem;
            color: $myBorderColor;
            height: .65rem;
          }
          img{
            width: 2.6rem;
            height: 3.45rem;
          }
          label{
            width: .8rem;
            height: .6rem;
            background-color: rgba($myBorderColor,.3);
            color: white;
            position: absolute;
            top:.65rem;
            left: 0;
            font-size: .6rem;
            text-align: center;
            line-height: .6rem;
          }
          #like1:checked ~.like1{
            color: $myHeaderColor;
          }
          #like2:checked ~.like2{
            color: $myHeaderColor;
          }
          #like3:checked ~.like3{
            color: $myHeaderColor;
          }
          #like4:checked ~.like4{
            color: $myHeaderColor;
          }
          #like5:checked ~.like5{
            color: $myHeaderColor;
          }
        }
      }
    }
    .day-body{
      background-color: white;
      width: 100%;
      >ul{
        width: 100%;
        li{
          box-sizing: border-box;
          height: 3.45rem;
          width: 100%;
          padding: .4rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          border-bottom: .01rem solid $myBodyColor;
          img{
            height: 2.65rem;
            width: 1.95rem;
          }
          div{
            flex-grow: 1;
            padding-left: .35rem;
            h1{
              font-size: .5rem;
            }
            p{
              margin: .3rem 0;
              color: $myBodyColor;
              font-size: .36rem;
              span{
                color: $myYellow;
              }
            }
            small{
              display: block;
              font-size: .4rem;
              color: #656565;
              margin-top: .15rem;
            }
          }
          button{
            box-sizing: border-box;
            width: 1.8rem;
            height: .8rem;
            font-size: .38rem;
            background-color: white;
            border-radius: .15rem;
          }
          .xiangkan{
            color: $myHeaderColor;
            border: .01rem solid $myHeaderColor;
          }
          .yushou{
            color: #00c1de;
            border: .01rem solid #00c1de;
          }
          a{
            display: block;
            box-sizing: border-box;
            //width: .8rem;
            //height: .8rem;
            border-radius: 50%;
            border:.01rem solid white;
            background-color: rgba($myBorderColor,.3);
            position: absolute;
            left: .95rem;
            i{
              font-size: .35rem;
              color: white;
              padding: .225rem;
            }
          }
        }
      }
    }
  }
//<!--热映-->
.body-hot {
  width: 100%;
  .body-hot_banner {
    width: 100%;
    height: 3rem;
    overflow: hidden;
    a {
      display: block;
      width: 100%;
      height: 3rem;
      img {
        width: 100%;
        height: 3rem;
      }
    }
    a:nth-child(1) {
      animation: banner 10s infinite;
    }
    @keyframes banner {
      0% {
        margin-top: 0;
      }
      33% {
        margin-top: 0;
      }
      34% {
        margin-top: -3rem;
      }
      67% {
        margin-top: -3rem;
      }
      68% {
        margin-top: -6rem;
      }
      99.9% {
        margin-top: -6rem;
      }
      100% {
        margin-top: 0;
      }
    }
  }
  .body-hot_movie {
    background-color: white;
    width: 100%;
    li {
      box-sizing: border-box;
      height: 3.45rem;
      width: 100%;
      padding: .4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      border-bottom: .01rem solid $myBodyColor;
      img {
        height: 2.65rem;
        width: 1.95rem;
      }
      div {
        flex-grow: 1;
        padding-left: .35rem;
        h1 {
          font-size: .5rem;
        }
        p {
          margin: .3rem 0;
          color: $myBodyColor;
          font-size: .36rem;
          span {
            color: $myYellow;
          }
        }
        small {
          display: block;
          font-size: .4rem;
          color: #656565;
          margin-top: .15rem;
        }
      }
      button {
        box-sizing: border-box;
        width: 1.8rem;
        height: .8rem;
        font-size: .38rem;
        background-color: white;
        border-radius: .15rem;
      }
      .xiangkan {
        color: $myHeaderColor;
        border: .01rem solid $myHeaderColor;
      }
      .yushou {
        color: #00c1de;
        border: .01rem solid #00c1de;
      }
      a {
        display: block;
        box-sizing: border-box;
        border-radius: 50%;
        border: .01rem solid white;
        background-color: rgba($myBorderColor, .3);
        position: absolute;
        left: .95rem;
        i {
          font-size: .35rem;
          color: white;
          padding: .225rem;
        }
      }
    }
    li:nth-child(1) {
      width: 100%;
      height: 5.75rem;
      padding-bottom: 0;
      .news1,.news2 {
        display: flex;
        width: 100%;
        height: 1.15rem;
        align-items: center;
        span{
          display: block;
          width: 7.65rem;
          height: 1.15rem;
          box-sizing: border-box;
          border-top: .01rem solid $myBodyColor;
          line-height: 1.15rem;
          color: $myBorderColor;
          margin-left: .3rem;
          font-size: .4rem;
        }
        i{
          margin-left: 1.05rem;
          display: block;
          width: 1rem;
          height: .62rem;
          box-sizing: border-box;
          border: .01rem solid $myYellow;
          color: $myYellow;
          font-size: .3rem;
          text-align: center;
          line-height: .62rem;
          border-radius: .2rem;
        }
      }
      .news1{
        margin-top: .4rem;
      }
      a{
        top:1.2rem;
      }
    }
  }
}
//<!--脚部-->
.allfooter{
  background-color: $myFontGrey;
  width: 100%;
  height: 1.5rem;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  a{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    height: 1.5rem;
    color: $myBorderColor;
    i{
      display: inline-block;
      width: 100%;
      height: 1rem;
      font-size: .6rem;
      text-align: center;
      line-height: 1rem;
    }
    span{
      display: inline-block;
      width: 100%;
      height: .5rem;
      font-size: .4rem;
      text-align: center;
    }
  }
  .indexA{
    color: $myHeaderColor;
  }
  .userA{
    color: $myHeaderColor;
  }
}
//<!--支撑脚部-->
.support-bottom{
  display: block;
  content: '';
  width: 100%;
  height: 1.5rem;
  background-color: $myFontGrey;
}


//--------------用户---------------
//user头部
.userHeader{
  width: 100%;
  height:3.3rem;
  background-color: $myHeaderColor;
  display: flex;
  justify-content: center;
  align-items: center;
  .userimg{
    display: block;
    width: 1.95rem;
    height: 1.95rem;
    border-radius: 50%;
    background: url("../img/loading_2.e3d934bf_02.png") no-repeat;
    background-size: 99%;
    img{
      width: 1.95rem;
      height: 1.95rem;
      border-radius: 50%;
    }
  }
  a{
    font-size: .8rem;
    color: white;
  }
  div{
    width: 7.5rem;
    height: 3.3rem;
    padding: 1rem .45rem;
    box-sizing: border-box;
    color: white;
    span{
      display: block;
      font-size: .5rem;
      margin-bottom: .2rem;
    }
    small{
      width: 2.5rem;
      padding:.1rem;
      display: block;
      font-size: .4rem;
      margin-left: .2rem;
      border:.01rem solid white;
      text-align: center;
      border-radius: .2rem;
    }
  }

}
//<!--支撑头部-->
.support-userHeader{
  display: block;
  content: "";
  width: 100%;
  height: 3.3rem;
}
//user导航
.icon{
  display: block;
  width: .73rem;
  height: .6rem;
  background: url("../img/icon.png") no-repeat;
  background-size: 5rem 3rem;
  margin: .1rem 0;
  box-sizing: border-box;
}
.userNav{
  width: 100%;
  height: 1.4rem;
  background-color: white;
  //border-bottom: .01rem solid $myBorderColor;
  padding: .4rem 0;
  display: flex;
  justify-content: space-between;
  >a{
    width: 2.7rem;
    height: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .i-kanguo{
      width: .63rem;
      height: .6rem;
      background-position: -.9rem 0;
    }
    .i-yingping{
      width: .9rem;
      height: .6rem;
      background-position: -1.82rem 0;
    }
    .i-huati{
      width: .7rem;
      height: .7rem;
      background-position: -2.8rem 0;
    }
    p{
      width: 2.7rem;
      height: .6rem;
      font-size: .4rem;
      line-height: .6rem;
      text-align: center;
      margin-top: .1rem;
      span{
        display: inline-block;
        height: .6rem;
        line-height: .7rem;
      }
    }
  }
  a:nth-child(n+2){
    border-left: .01rem solid $myBodyColor;
  }
}
.userDD-header{
  width: 100%;
  height: 1.35rem;
  background: white;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 .5rem;
  border-bottom: .01rem solid #E9E9E9;;
  align-items: center;
  span{
    font-size: .4rem;
    i{
      font-size: .5rem;
    }
  }
  span:nth-child(2){
    color: $myBorderColor;
  }
}
.userDD{
  width: 100%;
  height: 1.3rem;
  background-color: white;
  padding: .3rem 0;
  display: flex;
  justify-content: space-between;
  >a{
    width: 2.7rem;
    height: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .i-xiaofei{
      width: .68rem;
      height: .63rem;
      background-position: 0 -.8rem;
    }
    .i-fukuan{
      width: .76rem;
      height: .63rem;
      background-position: -1rem -.79rem;
    }
    .i-pingjia{
      width: .71rem;
      height: .63rem;
      background-position: -1.81rem -.71rem;
    }
    .i-tuikuan{
      width: .7rem;
      height: .63rem;
      background-position: -2.8rem -.7rem;
    }
    p{
      width: 2.7rem;
      height: .6rem;
      font-size: .4rem;
      line-height: .6rem;
      text-align: center;
      margin-top: .1rem;
    }
  }
  a:nth-child(n+2){
    border-left: .01rem solid $myBodyColor;
  }
}
.geduan{
  width: 100%;
  height: .5rem;
  border-bottom: .01rem solid#E9E9E9;
  border-top: .01rem solid #E9E9E9;
}
.geduan-bottom{
  border-top:none;
}
.geduan-top{
  border-bottom: none;
}


//----------------登陆------------------
//login头部
.loginHeader{
  width: 100%;
  height: 1.5rem;
  background-color: $myHeaderColor;
  position: fixed;
  padding: .4rem 0;
  box-sizing: border-box;
  display: flex;
  padding-right: .4rem;
  >a{
    width: 1.5rem;
    height: .7rem;
    font-size: .7rem;
    color: white;
    display: flex;
    justify-content: center;
    border-right:.01rem solid #AA2324;
  }
  >div{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding-left: .5rem;
    span{
      display: block;
      height: .7rem;
      font-size: .55rem;
      color: white;
      line-height: .9rem;
    }
    a{
      font-size: .45rem;
      color: white;
      line-height: .95rem;
    }
  }
}
.loginHeader-support{
  display: block;
  content: "";
  width: 100%;
  height: 1.5rem;
}
.loginImg{
  width: 100%;
  height: 4.3rem;
  padding: .8rem .45rem 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: .01rem solid #989898;
  align-content: space-between;
  img{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
  }
  a{
    display: block;
    width: 100%;
    height: .9rem;
    color: #989898;
    font-size: .4rem;
    line-height: .9rem;
  }
}
.login-form{
  width: 100%;

  box-sizing: border-box;
  .login-username,.login-userpassword{
    display: block;
    font-size: .4rem;
  }
  div{
    width: 100%;
    height: .9rem;
    display: flex;
    padding: 0.3rem 0.4rem;
    background-color: white;
    border-bottom: .01rem solid #989898;
    label{
      font-size: .45rem;
      line-height: .98rem;
      border-style: none;
      outline-style: none;
    }
    input{
      flex-grow: 1;
      outline-style: none;
      border-style: none;
      display: block;
      padding-left: .2rem;
      height: .9rem;
    }
  }
  .login-submit{
    display: block;
    margin: .6rem auto 0;
    width: 9.9rem;
    height: 1.35rem;
    background-color: $myHeaderColor;
    color: white;
    font-size: .45rem;
    border:.01rem solid $myHeaderColor;
    border-radius: .2rem;
    text-align: center;
    line-height: 1.4rem;
  }
}
.login-regist{
  width: 9.9rem;
  margin: .5rem auto;
  display: flex;
  justify-content: space-between;
  a{
    font-size: .4rem;
    color: $myHeaderColor;
  }
}
.login-p{
  width: 9.3rem;
  margin: auto;
  height: 1.6rem;
  font-size: .45rem;
  color: #989898;
  text-align: center;
  line-height: 1.7rem;
}
.login-link{
  width: 7.6rem;
  margin: auto;
  height: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
    li{
      width: 1.2rem;
      a{
        i{
          display: block;
          width: 1.2rem;
          height: 1.2rem;
          color: white;
          font-size: .7rem;
          text-align: center;
          line-height: 1.2rem;
          border-radius: 50%;
          margin-bottom: .4rem;
        }
        .fa-weixin{
          background-color: #55CA4A;
        }
        .fa-qq{
          background-color: #3396F5;
        }
        .fa-weibo{
          background-color: #FF803F;
        }
        .fa-google{
          background-color: #F7CE4D;
        }
      }
      p{
        font-size: .4rem;
        text-align: center;
        color: $myBorderColor;
      }
    }
}


//-------------注册---------------
//过程栏
.loading{
  width: 100%;
  height: 1.65rem;
  background-color: #F5F5F5;
  box-sizing: border-box;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  >P{
    color: #9C9C9C;
    font-size: .45rem;
  }
  p:nth-child(1){
    color: $myHeaderColor;
  }
}
.login-form{
  .regist-submit
  {
    background-color:#EFD5AF;
    border-color: #EFD5AF;
  }
  .form-bottom{
    width: 100%;
    height: 1rem;
    box-sizing: border-box;
    padding-left: .45rem;
    background-color: transparent;
    border-bottom: none;
    display: flex;
    align-items: center;
    .label-ico{
      display: block;
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      border:.01rem solid #2BC661;
      position: relative;

    }
    .label-p{
      font-size: .45rem;
      color: #727272;
      span{
        color: #009EE9;
      }
    }
    #ifKnow{
      display: none;
    }
    #ifKnow:checked ~.label-ico{
      background-color: #2BC661;
    }
    #ifKnow:checked ~.label-ico:after{
      content: '\2714';
      position: absolute;
      top:-.15rem;
      left:.1rem;
      color: white;
      font-size: .45rem;
    }
  }

}

//---------影院-------------
.cinema_banner {
  width: 100%;
  height: 3rem;
  overflow: hidden;
  a {
    display: block;
    width: 100%;
    height: 3rem;
    img {
      width: 100%;
      height: 3rem;
    }
  }
  //a:nth-child(1) {
  //  animation: banner 10s infinite;
  //}
  //@keyframes banner {
  //  0% {
  //    margin-top: 0;
  //  }
  //  33% {
  //    margin-top: 0;
  //  }
  //  34% {
  //    margin-top: -3rem;
  //  }
  //  67% {
  //    margin-top: -3rem;
  //  }
  //  68% {
  //    margin-top: -6rem;
  //  }
  //  99.9% {
  //    margin-top: -6rem;
  //  }
  //  100% {
  //    margin-top: 0;
  //  }
  //}
}
.cinemaA{
  i{
    color: $myHeaderColor;
  }
}
.cinema-header_i{
  color: white;
  position: fixed;
  top:.5rem;
  left: 8.5rem;
  z-index: 10;
  font-size: .6rem;
}
.cinema-header_p{
  font-size: .6rem;
  color: white;
  position: fixed;
  top:.48rem;
  left: 4.7rem;
  z-index: 10;
}
.cinema-body_list{
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  padding: 0 .45rem;
  a{
    width: 100%;
    box-sizing: border-box;
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    height: 3.8rem;
    border-bottom: .01rem solid #DFDFDF;
    .list-left{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .list-left_row1{
        font-size: .5rem;
        span{
          font-size: .4rem;
          color: $myHeaderColor;
        }
        small{
          font-size: .38rem;
          color: #9A9A9A;
        }
      }
      .list-left_row2{
        display: block;
        color: #656565;
        font-size: .4rem;
      }
      .list-left_row3{
        width: 7rem;
        display: flex;
        i{
          margin-right: .15rem;
        }
        .i-class1{
          padding: .1rem;
          padding-bottom: .04rem;
          color: #4A9AA6;
          border: .01rem solid #4A9AA6;
          font-size: .35rem;
          border-radius: .1rem;
          font-style: normal;
        }
        .i-class2{
          color: white;
          font-size: .35rem;
          padding: .1rem;
          padding-bottom: .04rem;
          border-radius: .1rem;
          background-color: #83C8EA;
          font-style: normal;
        }
        .i-class3{
          color: white;
          font-size: .35rem;
          padding: .1rem;
          padding-bottom: .04rem;
          border-radius: .1rem;
          background-color: #FFB760;
          font-style: normal;
        }
      }
      .list-left_row4{
        font-size: .35rem;
        color: #979797;
        .i-class4 {
          color: white;
          font-size: .35rem;
          padding: .1rem 0;
          padding-left: .13rem;
          padding-right: .07rem;
          border-radius: .1rem;
          background-color: $myHeaderColor;
          font-style: normal;
          font-weight: lighter;
        }
      }
    }
    .list-right{
      display: flex;
      align-items: center;
        span{
          font-size: .38rem;
          color: #969696;
        }
    }
  }
}
.getAddress{
  width: 10rem;
  box-sizing: border-box;
  height: .85rem;
  background-color: rgba(#F3F3F3,.9);
  padding: .35rem;
  position: fixed;
  bottom:1.85rem;
  left: .4rem;
  z-index: 10;
  border-radius: .1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span{
    color: #A4A4A4;
    font-size: .35rem;
    font-weight: lighter;
  }
  i{
    color: #A4A4A4;
    font-size: .35rem;
  }
}

//---------------太平洋电影院-------------
.loginHeader{
  div{
    align-items: center;
    span{
      font-size: .5rem;
      line-height: .8rem;
    }
    .cinemaLike{
      display: block;
      i{
        font-size: .6rem;
        color: white;
        margin-top: .1rem;
      }
    }
    .cinemaLike-yes{
      display: none;
    }
  }
  #cinemaLike:checked ~.cinemaLike-no{
    display: none;
  }
  #cinemaLike:checked ~.cinemaLike-yes{
    display: block;
  }
}
.cinema1-info{
  width: 100%;
  height: 2.5rem;
  padding: .4rem 0 .4rem .5rem;
  background-color: white;
  box-sizing: border-box;
  border-bottom: .01rem solid #EAEAEA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .list-left{
    width: 8.2rem;
    height: 1.7rem;
    margin-right: .45rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .list-left_left{
      height: 1.7rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .list-left_row1{
        font-size: .4rem;
        color: black;
        span{
          color: #F9BF50;
          font-size: .35rem;
        }
        small{
          font-size: .33rem;
          color: #F9BF50;
        }
      }
      .list-left_row2{
        color: #656565;
        font-size: .37rem;
      }
      .list-left_row3{
        display: flex;
        i{
          margin-right: .1rem;
        }
        .i-class1{
          padding: .05rem;
          padding-bottom: .02rem;
          color: #4A9AA6;
          border: .01rem solid #4A9AA6;
          font-size: .3rem;
          border-radius: .1rem;
          font-style: normal;
        }
      }
    }
    >i{
      font-size: .4rem;
      color: #656565;
    }
  }
  .list-right{
    width: 1.8rem;
    height: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-left: .01rem solid #EAEAEA;
    i{
      display: block;
      width:1.8rem;
      font-size: .5rem;
      color: #00c1de;
      text-align: center;
    }
    span{
      display: block;
      width: 1.8rem;
      color:#979797;
      font-size: .3rem;
      text-align: center;
    }

  }

}
.cinema1-info_bottom{
  width:100%;
  height: 1.4rem;
  padding: .3rem 0;
  display: flex;
  background-color: white;
  box-sizing: border-box;
  span{
    font-size: .45rem;
    color: #969696;
    width: 50%;
    height: .8rem;
    box-sizing: border-box;
    text-align: center;
    line-height: .9rem;
    .fa-credit-card{
      color: #FDC049;
    }
    .fa-gift{
      color:#FF6E66;
    }
  }
  span:nth-child(1){
    border-right: .01rem solid #DFDFDF;
  }
}


.cinema1-movie_navall{
  width: 100%;
  height: 4.4rem;
  background: url("../img/banner-afanda.jpg");
  background-size: 12.8rem 7.2rem;
  position: relative;
  .cinema1-movie_nav{
    display: flex;
    overflow: auto;
    align-items: center;
    width: auto;
    height: 4.4rem;
    background-color: rgba(black,.7);
    transition: all linear .3s;
    >li{
      .cinema1-movie1,.cinema1-movie2,.cinema1-movie3,.cinema1-movie4,.cinema1-movie5{
        display: inline-block;
        width: 2.2rem;
        height: 3.2rem;
        margin-right: .4rem;
        transition: all linear .3s;
      }
      .cinema1-movie1{
        margin-left: 4rem;

      }
      img{
        width: 100%;
        height: 100%;
      }
    }

    .cinema1-movie_sanjiao{
      width: 0;
      height: 0;
      border-bottom: .25rem solid white;
      border-top: .25rem solid transparent;
      border-left: .25rem solid transparent;
      border-right: .25rem solid transparent;
      position: absolute;
      left:48%;
      bottom: -.02rem;
    }
  }

}
#cinema1-movie1:checked ~.cinema1-movie_navall .cinema1-movie_nav .l1 label{

  width: 2.7rem;
  height: 3.7rem;

}
#cinema1-movie2:checked ~.cinema1-movie_navall .cinema1-movie_nav .l2 label{
  width: 2.7rem;
  height: 3.7rem;
}
#cinema1-movie2:checked ~.cinema1-movie_navall .cinema1-movie_nav {
  margin-left: -2.6rem;
}
#cinema1-movie3:checked ~.cinema1-movie_navall .cinema1-movie_nav .l3 label{
  width: 2.7rem;
  height: 3.7rem;
}
#cinema1-movie3:checked ~.cinema1-movie_navall .cinema1-movie_nav {
  margin-left: -5.2rem;
}
#cinema1-movie4:checked ~.cinema1-movie_navall .cinema1-movie_nav .l4 label{
  width: 2.7rem;
  height: 3.7rem;
}
#cinema1-movie4:checked ~.cinema1-movie_navall .cinema1-movie_nav{
  margin-left: -7.8rem;
}
#cinema1-movie5:checked ~.cinema1-movie_navall .cinema1-movie_nav .l5 label{
  width: 2.7rem;
  height: 3.7rem;
}
#cinema1-movie5:checked ~.cinema1-movie_navall .cinema1-movie_nav{
  margin-left: -10.3rem;
}

.cinema1-movie_middle{
  width: 100%;
  height: 1.7rem;
  background-color: white;
  overflow: hidden;
  position: relative;
  margin-bottom: .5rem;
  a{
    display: flex;
    width: 100%;
    height: 1.7rem;
    box-sizing: border-box;
    padding: .35rem .45rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    div{
      flex-grow: 1;
      p{
        height: .5rem;
        margin-bottom: .05rem;
        font-size: .45rem;
        color: black;
        width: 90%;
        span{
          font-size: .35rem;
          color: #FFB13D;
        }
      }
      small{
        font-size: .35rem;
        color: #AAAAAA;
      }
    }
    i{
      font-size: .5rem;
      color: #AAAAAA;
    }
  }
}
#cinema1-movie2:checked ~.cinema1-movie_middle .l2-a2{
  position: absolute;
  top:0;
  left: 0;
}
#cinema1-movie3:checked ~.cinema1-movie_middle .l3-a3{
  position: absolute;
  top:0;
  left: 0;
}
#cinema1-movie4:checked ~.cinema1-movie_middle .l4-a4{
  position: absolute;
  top:0;
  left: 0;
}
#cinema1-movie5:checked ~.cinema1-movie_middle .l5-a5{
  position: absolute;
  top:0;
  left: 0;
}

.youhuikaifa{
  width: 100%;
  height: 1.2rem;
  background-color: #FFF2CD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 .4rem;
  span,a{
    font-size: .35rem;
    color: #FECB81;
  }
  i{
    font-size: .4rem;
  }
}

.cinema1-movie_date{
  width: 100%;
  background-color: white;
  display: none;
  .date1info-header{
    width: 100%;
    height: 1.45rem;
    display: flex;
    overflow: auto;
    border-bottom: .01rem solid #F3F3F3;
    >label{
      display: inline-block;
      width: 3.84rem;
      height: 1.45rem;
      box-sizing: border-box;
      flex-shrink: 0;
      font-size: .4rem;
      color: $myHeaderColor;
      text-align: center;
      line-height: 1.5rem;
    }
  }
  .radio1:checked ~.date1info-header .date1{
    border-bottom: .05rem solid $myHeaderColor;
  }
  .radio2:checked ~.date1info-header .date2{
    border-bottom: .05rem solid $myHeaderColor;
  }
  .radio3:checked ~.date1info-header .date3{
    border-bottom: .05rem solid $myHeaderColor;
  }
  .radio4:checked ~.date1info-header .date4{
    border-bottom: .05rem solid $myHeaderColor;
  }
  .dateinfo{
    width: 100%;
    display: none;
    >li{
      width: 100%;
      height: 2.3rem;
      display: flex;
      box-sizing: border-box;
      padding: .65rem .5rem .5rem .5rem;
      border-bottom: .01rem solid #F3F3F3;
      div{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-end;
      }
      div:nth-child(1){
        width: 2rem;
        p{
          font-size: .5rem;
          color: black;
        }
        span{
          font-size: .3rem;
          color: #AAAAAA;
        }
      }
      div:nth-child(2){
        width: 3.3rem;
        p{
          width: 2.8rem;
          font-size: .3rem;
          color: black;
        }
        span{
          font-size: .3rem;
          color: #AAAAAA;
        }
      }
      div:nth-child(3){
        width: 2rem;
        margin-right: .5rem;
        p{
          font-size: .5rem;
          color: $myHeaderColor;
        }
        span{
          font-size: .3rem;
          color: #FF9C3A;
        }
      }
      div:nth-child(4){
        display: flex;
        justify-content: center;
        align-items: center;
        a{
          display: block;
          width: 1.8rem;
          height: .6rem;
          box-sizing: border-box;
          font-size: .3rem;
          color: $myHeaderColor;
          padding:.15rem .2rem 0 .25rem;
          border:.01rem $myHeaderColor solid;
          border-radius: .1rem;
        }
      }
    }
  }
  .radio1:checked ~.date1info{
    display: block;
  }
  .radio2:checked ~.date2info{
    display: block;
  }
  .radio3:checked ~.date3info{
    display: block;
  }
  .radio4:checked ~.date4info{
    display: block;
  }
}

#cinema1-movie1:checked ~.movie1_date{
  display: block;
}
#cinema1-movie2:checked ~.movie2_date{
  display: block;
}
#cinema1-movie3:checked ~.movie3_date{
  display: block;
}
#cinema1-movie4:checked ~.movie4_date{
  display: block;
}
#cinema1-movie5:checked ~.movie5_date{
  display: block;
}

//----------------选座页面--------------
.select-cinema{
  width: 100%;
  box-sizing: border-box;
  height: 2rem;
  padding: .4rem .4rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left{
    p{
      font-size: .45rem;
      color: black;
      margin-bottom: .2rem;
    }
    span{
      font-size:.35rem;
      color: #6F6F6F;
    }
  }
  a{
    display: block;
    width: 1.75rem;
    height: .75rem;
    font-size: .35rem;
    border: .01rem solid #EAEAEA;
    border-radius: .2rem;
    text-align: center;
    line-height: .8rem;
    color: #6F6F6F;
  }
}
.select-cinema_bottom {
  width: 100%;
  height: 1.2rem;
  background-color: white;
  padding: .35rem .45rem;
  box-sizing: border-box;
  border-top: .01rem solid #EAEAEA;
  > div {
    width: 9.9rem;
    height: .5rem;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    span {
      font-size: .45rem;
      color: #656565;
      margin: 0 .35rem;
      i {
        display: inline-block;
        width: .45rem;
        height: .45rem;
        background-color: white;
        box-sizing: border-box;
        border: .01rem solid #D0D0D0;
      }
    }
    span:nth-child(2) {
      i {
        background-color: #F44C40;
      }
    }
    span:nth-child(3) {
      i {
        background-color: #65BC3B;
      }
    }
  }
}

.select{
    width: 100%;
  .seatall{
    width: 100%;
    >p{
      width: 6.3rem;
      height: .65rem;
      margin: auto;
      background-color: #DCDCDC;
      color: #696969;
      text-align: center;
      line-height: .7rem;
      font-size: .4rem;
      margin-bottom: .8rem;
    }
    div{
      display: flex;
      width: 8rem;
      margin: auto;
      justify-content: space-between;
      margin-bottom: .6rem;
      label{
        display: block;
        width: 1rem;
        height: 1rem;
        background-color: white;
      }
    }
  }

  .seat-middle{
    width: 100%;
    height: 2.2rem;
    box-sizing: border-box;
    padding: 0 .45rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    >p{
      display: flex;
      align-items: center;
      width: 10rem;
      font-size: .4rem;
      color: black;
    }
    >label{
      display: block;
      font-size: .3rem;
      width: 1.85rem;
      height: .9rem;
      border: .01rem solid #CACACA;
      background-color: white;
      outline: none;
      border-radius: .2rem;
      text-align: center;
      line-height: 1rem;
    }
  }

  .seat-bottom{
    width: 100%;
    height: 1.65rem;
    background-color: white;
    nav{
      width: 9.9rem;
      margin: auto;
      height: 1.65rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
        font-size: .4rem;
        color: #656565;
      }
      label{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.5rem;
        height: 1.2rem;
        background-color: #F6DCB6;
        font-size: .5rem;
        color: white;
        border-radius: .2rem;
      }
      .selectisok{
        background-color: #65BC3B;
        display: none;
        text-align: center;
        line-height: 1.3rem;
      }
    }
  }

  #seat1:disabled ~.seatall .seat1{
    background-color: #F44C40;
  }
  #seat1:checked ~.seatall .seat1{
    background-color: #65BC3B;
  }
  #seat2:disabled ~.seatall .seat2{
    background-color: #F44C40;
  }
  #seat2:checked ~.seatall .seat2{
    background-color: #65BC3B;
  }
  #seat3:disabled ~.seatall .seat3{
    background-color: #F44C40;
  }
  #seat3:checked ~.seatall .seat3{
    background-color: #65BC3B;
  }
  #seat4:disabled ~.seatall .seat4{
    background-color: #F44C40;
  }
  #seat4:checked ~.seatall .seat4{
    background-color: #65BC3B;
  }
  #seat5:disabled ~.seatall .seat5{
    background-color: #F44C40;
  }
  #seat5:checked ~.seatall .seat5{
    background-color: #65BC3B;
  }
  #seat6:disabled ~.seatall .seat6{
    background-color: #F44C40;
  }
  #seat6:checked ~.seatall .seat6{
    background-color: #65BC3B;
  }
  #seat7:disabled ~.seatall .seat7{
    background-color: #F44C40;
  }
  #seat7:checked ~.seatall .seat7{
    background-color: #65BC3B;
  }
  #seat8:disabled ~.seatall .seat8{
    background-color: #F44C40;
  }
  #seat8:checked ~.seatall .seat8{
    background-color: #65BC3B;
  }
  #seat9:disabled ~.seatall .seat9{
    background-color: #F44C40;
  }
  #seat9:checked ~.seatall .seat9{
    background-color: #65BC3B;
  }
  #seat10:disabled ~.seatall .seat10{
    background-color: #F44C40;
  }
  #seat10:checked ~.seatall .seat10{
    background-color: #65BC3B;
  }
  #seat11:disabled ~.seatall .seat11{
    background-color: #F44C40;
  }
  #seat11:checked ~.seatall .seat11{
    background-color: #65BC3B;
  }
  #seat12:disabled ~.seatall .seat12{
    background-color: #F44C40;
  }
  #seat12:checked ~.seatall .seat12{
    background-color: #65BC3B;
  }

  #seatauto1:checked ~.seat-middle .seatauto1{
    background-color: #65BC3B;
    color: white;
  }
  #seatauto1:checked ~.seatall .seat10{
    background-color: #65BC3B;
  }
  #seatauto2:checked ~.seat-middle .seatauto2{
    background-color: #65BC3B;
    color: white;
  }
  #seatauto2:checked ~.seatall .seat7{
    background-color: #65BC3B;
  }
  #seatauto2:checked ~.seatall .seat8{
    background-color: #65BC3B;
  }
  #seatauto3:checked ~.seat-middle .seatauto3{
    background-color: #65BC3B;
    color: white;
  }
  #seatauto3:checked ~.seatall .seat1{
    background-color: #65BC3B;
  }
  #seatauto3:checked ~.seatall .seat2{
    background-color: #65BC3B;
  }
  #seatauto3:checked ~.seatall .seat3{
    background-color: #65BC3B;
  }
  #seatauto4:checked ~.seat-middle .seatauto4{
    background-color: #65BC3B;
    color: white;
  }
  #seatauto4:checked ~.seatall .seat8{
    background-color: #65BC3B;
  }
  #seatauto4:checked ~.seatall .seat9{
    background-color: #65BC3B;
  }
  #seatauto4:checked ~.seatall .seat11{
    background-color: #65BC3B;
  }
  #seatauto4:checked ~.seatall .seat12{
    background-color: #65BC3B;
  }

  #seat1:checked ~.seat-bottom .selectnotok{
    display: none;
  }
  #seat1:checked ~.seat-bottom .selectisok{
    display: block;
  }
  #seat2:checked ~.seat-bottom .selectnotok{
    display: none;
  }
  #seat2:checked ~.seat-bottom .selectisok{
    display: block;
  }
  #seat3:checked ~.seat-bottom .selectnotok{
    display: none;
  }
  #seat3:checked ~.seat-bottom .selectisok{
    display: block;
  }
  #seat4:checked ~.seat-bottom .selectnotok{
    display: none;
  }
  #seat4:checked ~.seat-bottom .selectisok{
    display: block;
  }
  #seat5:checked ~.seat-bottom .selectnotok{
    display: none;
  }
  #seat5:checked ~.seat-bottom .selectisok{
    display: block;
  }
  #seat6:checked ~.seat-bottom .selectnotok{
    display: none;
  }
  #seat6:checked ~.seat-bottom .selectisok{
    display: block;
  }
  #seat7:checked ~.seat-bottom .selectnotok{
    display: none;
  }
  #seat7:checked ~.seat-bottom .selectisok{
    display: block;
  }
  #seat8:checked ~.seat-bottom .selectnotok{
    display: none;
  }
  #seat8:checked ~.seat-bottom .selectisok{
    display: block;
  }
  #seat9:checked ~.seat-bottom .selectnotok{
    display: none;
  }
  #seat9:checked ~.seat-bottom .selectisok{
    display: block;
  }
  #seat10:checked ~.seat-bottom .selectnotok{
    display: none;
  }
  #seat10:checked ~.seat-bottom .selectisok{
    display: block;
  }
  #seat11:checked ~.seat-bottom .selectnotok{
    display: none;
  }
  #seat11:checked ~.seat-bottom .selectisok{
    display: block;
  }
  #seat12:checked ~.seat-bottom .selectnotok{
    display: none;
  }
  #seat12:checked ~.seat-bottom .selectisok{
    display: block;
  }
  #seatauto1:checked ~.seat-bottom .selectnotok{
    display: none;
  }
  #seatauto1:checked ~.seat-bottom .selectisok{
    display: block;
  }
  #seatauto2:checked ~.seat-bottom .selectnotok{
    display: none;
  }
  #seatauto2:checked ~.seat-bottom .selectisok{
    display: block;
  }
  #seatauto3:checked ~.seat-bottom .selectnotok{
    display: none;
  }
  #seatauto3:checked ~.seat-bottom .selectisok{
    display: block;
  }
  #seatauto4:checked ~.seat-bottom .selectnotok{
    display: none;
  }
  #seatauto4:checked ~.seat-bottom .selectisok{
    display: block;
  }
}

//----------------电影详情--------------
.movieinfo-top{
  width: 100%;
  background-color: #2a2c31;
  position: fixed;
  top:0;
  z-index: 10;
  height: 8rem;
  .movieinfoheader{
    width: 100%;
    height: 1rem;
    padding: 0 .45rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    a{
      i{
        display: block;
        height: 1rem;
        color: white;
        font-size: .7rem;
        line-height: 1.5rem;
      }
    }
  }
  .movieinfomiddle{
    width: 100%;
    box-sizing: border-box;
    padding: 0 .45rem;
    height: 4.6rem;
    display: flex;
    justify-content: space-between;
    img{
      width: 3.3rem;
      height: 4.6rem;
      margin-right: .4rem;
    }
    .right{
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      >p{
        font-size: .5rem;
        color: white;
      }
      >small{
        display: block;
        width: 5rem;
        font-size: .3rem;
        color: white;
      }
      >span{
        display: block;
        width: 5rem;
        font-size: .45rem;
        color: #FFC443;
      }
      >i{
        display: block;
        width: 5rem;
        font-style: normal;
        color: #88807E;
        font-size: .28rem;
      }
      >b{
        display: block;
        width: 5rem;
        font-style: normal;
        font-size: .3rem;
        color: #88807E;
      }
    }
  }
  .movieinfobottom{
    width: 100%;
    box-sizing: border-box;
    padding: 0 .45rem;
    height: 1.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    label{
      display: block;
      width: 4.8rem;
      height: 1rem;
      background-color: #5D544E;
      color: white;
      font-size: .4rem;
      text-align: center;
      line-height: 1.1rem;
    }
  }
  .movieinfopingfen{
    width: 100%;
    box-sizing: border-box;
    padding: 0 .45rem;
    height: 1rem;
    display: none;
    background-color: #2a2c31;
    line-height: 1.2rem;
    .star-n{
        color: white;
        font-size: .7rem;
    }
    .star-y{
      color: #FFC443;
      font-size: .7rem;
      display: none;
    }
  }
  #pingfen:checked ~.movieinfopingfen{
    display: block;
  }
  #pingfenstar1:checked ~.star1-y{
     display: inline;
   }
  #pingfenstar1:checked ~.star1-n{
    display: none;
  }
  #pingfenstar2:checked ~.star2-y{
    display: inline;
  }
  #pingfenstar2:checked ~.star2-n{
    display: none;
  }
  #pingfenstar2:checked ~.star1-y{
    display: inline;
  }
  #pingfenstar2:checked ~.star1-n{
    display: none;
  }
  #pingfenstar3:checked ~.star2-y{
    display: inline;
  }
  #pingfenstar3:checked ~.star2-n{
    display: none;
  }
  #pingfenstar3:checked ~.star1-y{
    display: inline;
  }
  #pingfenstar3:checked ~.star1-n{
    display: none;
  }
  #pingfenstar3:checked ~.star3-y{
    display: inline;
  }
  #pingfenstar3:checked ~.star3-n{
    display: none;
  }
  #pingfenstar4:checked ~.star2-y{
    display: inline;
  }
  #pingfenstar4:checked ~.star2-n{
    display: none;
  }
  #pingfenstar4:checked ~.star1-y{
    display: inline;
  }
  #pingfenstar4:checked ~.star1-n{
    display: none;
  }
  #pingfenstar4:checked ~.star3-y{
    display: inline;
  }
  #pingfenstar4:checked ~.star3-n{
    display: none;
  }
  #pingfenstar4:checked ~.star4-y{
    display: inline;
  }
  #pingfenstar4:checked ~.star4-n{
    display: none;
  }
  #pingfenstar5:checked ~.star2-y{
    display: inline;
  }
  #pingfenstar5:checked ~.star2-n{
    display: none;
  }
  #pingfenstar5:checked ~.star1-y{
    display: inline;
  }
  #pingfenstar5:checked ~.star1-n{
    display: none;
  }
  #pingfenstar5:checked ~.star3-y{
    display: inline;
  }
  #pingfenstar5:checked ~.star3-n{
    display: none;
  }
  #pingfenstar5:checked ~.star4-y{
    display: inline;
  }
  #pingfenstar5:checked ~.star4-n{
    display: none;
  }
  #pingfenstar5:checked ~.star5-y{
    display: inline;
  }
  #pingfenstar5:checked ~.star5-n{
    display: none;
  }
}
.movieinfo-top_support{
  width: 100%;
  height: 8rem;
}

.movieinfo-middle{
  width: 100%;
  height: 2.5rem;
  padding: .5rem .45rem 0 .45rem;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: .5rem;
  p{
    font-size: .35rem;
    color: black;
    line-height: .5rem;
    text-align: left;
  }
  .pull{
    font-size: .6rem;
    color: #CACACA;
  }

}
.middle2{
  display: none;
  background-color: white;
  height: auto;
}
#pull:checked ~.middle1{
  display: none;
}
#pull:checked ~.middle2{
  display: block;
}

.movieinfo-middle_actor{
  width: 100%;
  height: 5rem;
  box-sizing: border-box;
  padding-left: .45rem;
  background-color: white;
  position: relative;
  margin-bottom: 1.5rem;
  >ul{
    height: 5rem;
    display: flex;
    overflow: auto;
    li{
      margin-right: .3rem;
      width: 2.2rem;
      height: 5rem;
      p{
        font-size: .4rem;
        color: black;
        width: 2.2rem;
        height: 1rem;
        line-height: 1rem;
      }
      img{
        width: 2.2rem;
        height: 3rem;
      }
      span{
        display: flex;
        height: 1rem;
        font-size: .35rem;
        color: #CACACA;
        justify-content: center;
        align-items: center;
      }
    }
  }
  >a{
    font-size: .35rem;
    color: #CACACA;
    position: absolute;
    top:.3rem;
    right: .2rem;
  }
}
.movieinfo-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1.5rem;
  background-color: $myHeaderColor;
  color: white;
  font-size: .5rem;
  position: fixed;
  bottom: 0;
}

//-----------------发现----------------
.search-form_find{
  display: flex;
  top:0;
  align-items: center;
  .search-form_i{
    top:0.77rem;
  }
  .search-list{
    height: .85rem;
    border-radius: .4rem;
  }
}
.find-nav{
  width: 100%;
  height: 5.6rem;
  background-color: white;
  margin-top: 1.35rem;
  display: flex;
  flex-wrap: wrap;
  li{
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    i{
      display: flex;
      width: 100%;
      height: 60%;
      font-size: 1rem;
      justify-content: center;
      align-items: flex-end;
    }
    p{
      width: 100%;
      height: 40%;
      color: #767676;
      font-size: .3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.find-today{
  width: 100%;
  height: .9rem;
  box-sizing: border-box;
  padding: 0 .45rem;
  display: flex;
  align-items: center;
  p{
    font-size: .35rem;
    color: #666666;
  }
}
.find-news{
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding: 0 .45rem;
  .find-news-1{
    padding: .4rem 0;
    border-bottom: .01rem solid #F6F6F6;
    >h1{
      font-size: .45rem;
      color: black;
      line-height: 150%;
      margin-bottom: .5rem;
    }
    >div{
      display: flex;
      justify-content: space-between;
      margin-bottom: .4rem;
      img{
        width: 3.2rem;
        height: 2.4rem;
      }
    }
    >p{

      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      span{
        font-size: .35rem;
        color: #9D9D9D;
      }
      .right{
        i{
          font-size: .35rem;
          color: #9D9D9D;
          margin-left: .3rem;
        }
      }
    }
  }
  .find-news-2{
    padding: .4rem 0;
    border-bottom: .01rem solid #F6F6F6;
    display: flex;
    img{
      width: 3.2rem;
      height: 2.4rem;
      margin-right: .3rem;
    }
    div{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      h1{
        font-size: .45rem;
        color: black;
        line-height: 150%;
      }
      p{

        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        span{
          font-size: .35rem;
          color: #9D9D9D;
        }
        .right{
          i{
            font-size: .35rem;
            color: #9D9D9D;
            margin-left: .3rem;
          }
        }
      }
    }
  }
}